.jumbotron {
    height: 400px;
    background-image: url("images/jumbotron2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.card {
    border: none;
    margin-bottom: 2rem;
}

.page-footer {
    font-size: 0.75rem;
}