.jumbotron {
    height: 400px;
    background-image: url("images/jumbotron2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.card {
    border: none;
    margin-bottom: 2rem;
}

.pricing-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 5px;
    max-width: 50rem;
}